body {
    background-color: rgb(235, 182, 129);
    font-family: sans-serif;
    background-image: url(https://i.ibb.co/Vg5Y8MB/Alexandria-backgound.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: auto;
}
.nav {
    z-index: 1;
}
li {
    display: inline;
    float: left;
    border-bottom: 1px solid rgb(164, 162, 250);
}
.navtab {
    padding: 5px;
    background-color: rgb(51, 18, 128);
}
.dropdown1 {
    position: absolute;
    padding: 5px;
    background-color: rgb(51, 18, 128);
}
.droptab {
    margin-left: -30px; 
    padding: 5px;
    background-color: rgb(51, 18, 128);
}
a {
    color: rgb(164, 162, 250);
    text-decoration: none;
    display: block;
}
li a:hover {
    color: azure;
    text-decoration: none;
}
ul li ul {
    visibility: hidden;
    opacity: 0;
    position: relative;
    display: none;
    width: 75%;
}
ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    width: 120px
}
ul li ul li {
    width: 75%;
    margin: 0px;
}
h1 {
    z-index: -1;
    font-family: fantasy;
    color: rgb(164, 162, 250);
}
h2 {
    z-index: -1;
    margin-left: 10px;
    color: rgb(164, 162, 250);
}
p {
    z-index: -1;
    max-width: 600px;
    color: rgb(164, 162, 250);
}